<!-- 
    footer.ejs
    Name: Sunand Shanthos Kumar
    StudentID: 301297793
    Date: 02/09/2023 
-->
<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>